@tailwind utilities;
@import "tailwindcss";

:root {
    --text-color: #060907;
    --primary-color: #44bb4e;
    --secondary-color: #44bb4e;
    --accent-color: #5de967;
    --bg-color: #f0fdf4 ;
    --main-bg-color: #44bb4e;
}